
/* Infos styles */

#infos {
    margin: 64px 32px;
}

#infos h2 {
    margin-bottom: 16px;
}

#infos h3 {
    margin: 32px 0 16px;
}

#infos td {
    padding: 6px;
}

#infos table {
    min-width: 55%;
}


