
/* Infos styles */

#infos {
    margin: 64px 32px;
}

#infos h2 {
    margin-bottom: 16px;
}

#infos h3 {
    margin: 32px 0 16px;
}

#infos td {
    padding: 6px;
}

#infos table {
    min-width: 55%;
}

/* Cart styles */

#cart {
    margin: 64px 32px;
}

#cart h2 {
    margin-bottom: 16px;
}

#cart h3 {
    margin: 32px 0 16px;
}

#cart td {
    padding: 6px;
}

#cart table {
    border-collapse: collapse;
    margin-bottom: 32px;
    min-width: 55%;
}

#cart table tr:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

#cart table td {
    padding: 32px 0;
    vertical-align: top;
}

#cart table td:first-child {
    width: 150px;
}

#cart table .category {
    background-color: var(--bg-accent);
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
    padding: 4px 8px;
}

#cart table .product {
    font-size: 18px;
    font-weight: 600;
}

#cart table .price {
    font-size: 22px;
    margin-top: 8px;
}

#cart table .quantity {
    margin-bottom: 8px;
}

#cart table .total {
    font-size: 22px;
    margin-top: 8px;
}

#cart table button {
    background-color: #fff;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    font-family: var(--font-main);
    font-size: 16px;
    padding: 2px 8px;
}

#cart table button:hover {
    cursor: pointer;
}

#cart table img {
    float: left;
    width: 128px;
}

#cart a {
    border: 2px solid var(--color-main);
    display: inline-block;
    padding: 8px 12px;
}

